@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  min-width: 0;
  font: inherit;
  @apply antialiased;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  @apply bg-gray-300
}

h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;

}

h1 {
  text-wrap: balance;

}

p {
  text-wrap: pretty;
}

::-webkit-scrollbar {
  width: 15px;
  @apply transition;
  @apply duration-1000;
  @apply ease-in-out;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-400;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-600;
}